@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{font-family:Whitney;font-weight:300;
    src:url(Whitney-300-5bc974dd.woff) format("woff")}
@font-face{font-family:Whitney;font-weight:400;
    src:url(Whitney-400-0f823bc4.woff) format("woff")}
@font-face{font-family:Whitney;font-weight:500;
    src:url(Whitney-500-ba33ed18.woff) format("woff")}
@font-face{font-family:Whitney;font-weight:600;
    src:url(Whitney-600-9231ab6a.woff) format("woff")}
@font-face{font-family:Whitney;font-weight:700;
    src:url(Whitney-700-5913345a.woff) format("woff")}

    @font-face{font-family:Ginto;font-weight:300;src:url(Ginto-300-bfa5844b.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:400;src:url(Ginto-400-8612deb0.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:500;src:url(Ginto-400-8612deb0.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:600;src:url(Ginto-600-0e9a97ab.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:700;src:url(Ginto-700-12954218.woff) format("woff")}

    @font-face{font-family:Ginto;font-weight:300;font-style:italic;src:url(Ginto-300-italic-10a990e0.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:400;font-style:italic;src:url(Ginto-400-italic-18fe6424.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:500;font-style:italic;src:url(Ginto-400-italic-18fe6424.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:600;font-style:italic;src:url(Ginto-600-italic-dd9840ee.woff) format("woff")}
    @font-face{font-family:Ginto;font-weight:700;font-style:italic;src:url(Ginto-700-italic-a1c8c4c3.woff) format("woff")}

    @font-face{font-family:GintoNord;font-weight:500;src:url(Ginto-Nord-500-36a2dfff.woff2) format("woff2"),url(Ginto-Nord-500-3a93dfc7.woff) format("woff")}
    @font-face{font-family:GintoNord;font-weight:600;src:url(Ginto-Nord-600-75d0674e.woff2) format("woff2"),url(Ginto-Nord-600-7db09a8b.woff) format("woff")}
    @font-face{font-family:GintoNord;font-weight:700;src:url(Ginto-Nord-700-e7f99c2e.woff2) format("woff2"),url(Ginto-Nord-700-a5047de7.woff) format("woff")}
   
    @font-face{font-family:ggSans;font-weight:400;src:url(ggsans-Normal-553d080c.ttf)}
    @font-face{font-family:ggSans;font-weight:500;src:url(ggsans-Medium-0cb97664.ttf)}
    @font-face{font-family:ggSans;font-weight:600;src:url(ggsans-Semibold-0f233e6c.ttf)}